<%- include('template/cabecera', {tituloweb: 'Página de Inicio'}) -%>
    <h1 class="text-primary">Titulo de mi página Web Index</h1>
    <h2>
        <%= titulo %>
    </h2>

<%- include('template/footer') -%>